  <div class="jumbotron">
    <h1 class="title">觅职网</h1>
    <h2 class="slogan">最具竞争力的求职网站

    </h2>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上求职</a></p>
  </div>

  <div class="vision">
            <h1 align="center">觅职网，你的专属招聘平台！</h1>
            <h3 align="center">连接千万用户 @  一键直通名企</h3>
            <h4 align="center">个人用户获取准确详细工作信息的中心</h4>

    <h4 align="center">企业连接优秀人才的通道</h4>

          </div>


  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fbzv7f21s1j303k03kweb.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>地址：广州市 天河区 珠江新城 珠江西路5号国际金融中心(IFC)54层</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fc0bphcw9lj303k03kwec.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>Email：vwin@163.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006y8lVagy1fc0brzyvwej303k03ka9w.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>联系电话：020-61988888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
